<div class="container">

<div class="card mb-3 container-fluid" id="info">
  <div class="row" >
        <div class="d-flex position-relative col-xs-12 col-sm-2 col-md-2 col-lg-3">
          <img src="../../../assets/icono perfil.png" class="flex-shrink-0 me-3" alt="...">
        </div>
        <div class="col-xs-12 col-sm-10 col-md-10 col-lg-9" style="justify-content:center ;">
         <h3 id="nombre">{{persona.nombre}} {{persona.apellido}}</h3>
          <P>DESARROLLADOR FULL STACK</P>
          <p >Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt velit facere exercitationem, molestias explicabo sapiente recusandae ea at numquam consequuntur quibusdam, debitis dignissimos, obcaecati consequatur iusto autem corrupti dolorem. Repellendus!</p>
          <a href="">Descargar CV</a>
        </div>


  </div>
</div>
</div>
