<div class="container-fluid">
  <div class="row">

    <form class="row g-3" (ngSubmit)="onEdit()" novalidate #f="ngForm">
      <div class="col-md-12" style="display: flex; justify-content:space-between;">
        <h4>Editar</h4>
        <button type="button" class="btn-close btn-close-dark" aria-label="Close"></button>
      </div>
    <div class="col-md-12">
      <label for="imgHab">URL_imagen </label>
      <input type="text" class="form-control" id="imgHab" name="imgHab" [(ngModel)]="habilidad.imgHab" required>
    </div>
    <div class="col-md-12">
      <label for="imgHab">Nombre </label>
      <input type="text" class="form-control" id="nameHab" name="nameHab" [(ngModel)]="habilidad.nameHab" required>
    </div>
    <div class="col-md-12">
      <label for="progressHab">Porcentaje</label>
      <input type="number" class="form-control" id="progressHab" name="progressHab" [(ngModel)]="habilidad.progressHab" required>
    </div>
    <div class="col-md-12">
      <button type="submit" style="margin-top:15px;" class="btn btn-dark">Actualizar</button>
    </div>
  </form>
  </div>
</div>
