<div class="container-fluid">
  <div class="row " style="margin-bottom: 25px;">

    <form class="row g-3" (ngSubmit)="onCreate()" novalidate #f="ngForm">
      <div class="col-md-12" style="display: flex; justify-content:space-between;">
        <h5><span>Nuevo Proyecto</span> </h5>
        <button type="button" class="btn-close btn-close-dark" aria-label="Close"></button>
      </div>
    <div class="col-md-12">
      <label for="imgEdu" class="form-label">URL_imagen</label>
      <input type="text" class="form-control" id="imgPro" name="imgPro" [(ngModel)]="imgPro" required>
    </div>
    <div class="col-md-12">
      <label for="titleEdu" class="form-label">Nombre </label>
      <input type="text" class="form-control" id="namePro" name="namePro" [(ngModel)]="namePro" required>
    </div>
    <div class="col-md-12">
      <label for="durationEdu" class="form-label">Descripcion </label>
      <input type="text" class="form-control" id="descriptionPro" name="descriptionPro" [(ngModel)]="descriptionPro" required>
    </div>
    <div class="col-md-12">
      <button type="submit" style="margin-top:15px;" class="btn btn-dark">Agregar</button>
    </div>
  </form>
  </div>
</div>
