
<div class="container-fluid">
  <div class="row">
    <form class="row g-3" (ngSubmit)="onCreate()" novalidate #f="ngForm">
      <div class="col-md-12" style="display: flex; justify-content:space-between;">
        <h4>Nuevo</h4>
        <button type="button" class="btn-close btn-close-dark" aria-label="Close"></button>
      </div>
    <div class="col-md-12">
      <label for="imgEdu" class="form-label">URL_imagen</label>
      <input type="text" class="form-control" id="imgEdu" name="imgEdu" placeholder="URL_imagen" [(ngModel)]="imgEdu" required>
    </div>
    <div class="col-md-12">
      <label for="titleEdu" class="form-label">Titulo </label>
      <input type="text" class="form-control" id="titleEdu" name="titleEdu" placeholder="Titulo" [(ngModel)]="titleEdu" required>
    </div>
    <div class="col-md-12">
      <label for="durationEdu" class="form-label">Duracion en años </label>
      <input type="text" class="form-control" id="durationEdu" name="durationEdu" placeholder="Duracion" [(ngModel)]="durationEdu" required>
    </div>
    <div class="col-md-12">
      <label for="descriptionEdu">Descripcion </label>
      <input type="text" class="form-control" id="descriptionEdu" name="descriptionEdu" placeholder="Descripcion" [(ngModel)]="descriptionEdu" required>
    </div>
    <div class="col-md-12" style="display: flex;">
      <button type="submit" style="margin-top:15px;" class="btn btn-dark">Nuevo</button>

    </div>
  </form>
  </div>
</div>
